.red{
    position: fixed;
    top:200px;
    z-index: 100;
    left: 0;
    background-color: rgb(85, 85, 85);
    width: 200px;
}

#correo a{
    background-color: rgb(85, 85, 85);
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
text-align: center;
}
#correo a:hover{
    font-size: 115%;
}

#llamar a{
    background-color: rgb(85, 85, 85);
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}
#llamar a:hover{
    font-size: 115%;
}

#whatsapp a{
    background-color: rgb(85, 85, 85);
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}
#whatsapp a:hover{
    font-size: 115%;
}
#correo{
    width: 350px;
    margin: 16px 0px;
    border-radius: 5%;
    border-color: white;
}
#llamar{
    width: 300px;
    margin: 16px 0px;
}
#whatsapp{
    width: 300px;
    margin: 16px 0px;
}

header{
    background-color: rgb(255, 255, 137);
    text-align: center;
}
h1{
    background-color: turquoise;
    padding: 25px;
}
p{
    padding: 25px 35px 25px 300px;
}
main{
    background-color: wheat;
}
body{
    background-color: thistle;
}